---
const { type, label, labelClass, score, scoreClass } = Astro.props;
const classNameLabel = `${labelClass} fs-300 clr-neutral-900 text-center`;
const classNameScore = `${scoreClass} heading-2 text-center`;
---

<div class={`game__info game__info--${type}`}>
  <p class=`${classNameLabel}`>{label}</p>
  <p class=`${classNameScore}`>{score}</p>
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .game {
    &__info {
      flex: 1;
      border-radius: $border-radius-1;
      padding-block: $size-3;

      &--x {
        background-color: $color-primary-400;
      }
      &--ties {
        background-color: $color-neutral-400;
      }
      &--o {
        background-color: $color-accent-400;
      }
    }
  }
</style>
